@model IEnumerable<spice.Models.Coupon>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info"> Coupon List</h2>
        </div>
        <div class="col-6 text-right">
            @*<a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; Create New </a>*@
            <partial name="_partialCreateButton" />
            @*@Html.Partial("~/Views/Shared/_partialCreateButton.cshtml")*@
        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.MinimumAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.IsActive)
                </th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(x => item.Name)
            </td>
            <td>
                @Html.DisplayFor(x => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(x => item.MinimumAmount)
            </td>
            <td>
                @Html.DisplayFor(x => item.IsActive)
            </td>
            <td>
                <partial name="_TableButtonParttial" model="item.Id" />
            </td>
        </tr>
            }
        </table>
    }
    else
    {
        <p>no Category list</p>
    }
</div>


